{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  </head>
  <body>
    <header>
      <nav class="container container--70">
        <ul class="nav--actions">

               {% if request.user.id == None %}
                <li><a href="{% url 'login_page' %}">Zaloguj</a></li>
          <li class="highlighted"><a href="{% url 'register_page' %}">Załóż konto</a></li>
                {% else %}
          <li class="logged-user">
              Witaj, {{ request.user.first_name }}
            <ul class="dropdown">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
              <li><a href="{% url 'logout_page' %}">Wyloguj</a></li>
            </ul>
          </li>
            {% endif %}
        </ul>
      <br>

        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="{% url 'donation_page' %}">Przekaż dary</a></li>
            <li><a href="/#steps">O co chodzi?</a></li>
            <li><a href="/#about-us">O nas</a></li>
            <li><a href="/#help">Fundacje i organizacje</a></li>
            <li><a href="/#contact">Kontakt</a></li>
        </ul>
      </nav>
      {% block content %}




    {% endblock %}
    </body>
</html>