{% extends "web_app/base.html" %}
{% load static %}
{% block content %}

    <div class="slogan container container--90">
        <div class="slogan--item">

                <h1>
                    Imię użytkownika: <b>{{ user.first_name }}</b><br/>
                    Nazwisko użytkownika: <b>{{ user.last_name }}</b><br/>
                    e-mail użytkownika: <b>{{ user.email }}</b><br/>

                    przekazałeś łącznie worków: <b>{{ total }} szt.</b> Dziękujemy !
                </h1>
                <br>
                <h1>
                <u>Twoja dotychczasowa pomoc</u>
                {% for d in donation %}

                    <li>Przekazano worków: <b>{{ d.quantity }}</b><br>
                        instytucji: <b>{{ d.institution.name }}</b><br>
                        data odbioru: <b>{{ d.pick_up_date }}</b><br>

                    </li>
                {% endfor %}


            </h1>
    </header>


    </footer>

    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}